<!-- Top Header -->
<header class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-12">
                <div class="header-left">
                    <div class="header-left-card">
                        <ul>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bxs-location-plus'></i>
                                </div>
                                <a href="https://www.google.com/search?client=firefox-b-d&q=gebroeders+elken#" target="_blank">Stadshagenallee 13, 8043ZA ZWOLLE</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bxs-envelope'></i>
                                </div>
                                <a href="mailto:info@gebroederselken.nl">info@gebroederselken.nl</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bxs-search'></i>
                                </div>
                                <a routerLink="/invictus">Bekijk hier ons merk invictus</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="header-right">
                    <div class="top-social-link">
                        <ul>
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>-->
                            <li><a href="https://www.instagram.com/gebroeders.elken.stoffering/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-google-plus'></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->

<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-small.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="javascript:void(0)" routerLink="/over-ons" class="nav-link dropdown-toggle">Over ons <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/over-ons" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Over ons</a></li>
                            <li class="nav-item"><a routerLink="/laat-je-inspireren" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Laat je inspireren</a></li>
                            <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Veelgestelde vragen</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Producten <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Vloeren <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/pvc-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pvc</a></li>
                                    <li class="nav-item"><a routerLink="/tapijt-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tapijt</a></li>
                                    <li class="nav-item"><a routerLink="/laminaat-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Laminaat</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Trappen <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/pvc-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pvc trap</a></li>
                                    <li class="nav-item"><a routerLink="/tapijt-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tapijt trap</a></li>
                                    <li class="nav-item"><a routerLink="/vinyl-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Vinyl trap</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a routerLink="/hout-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Hout</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Raamdecoratie <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/plooigordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Plooigordijn</a></li>
                                    <li class="nav-item"><a routerLink="/wavegordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Wave gordijn</a></li>
                                    <li class="nav-item"><a routerLink="/vouwgordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Vouwgordijnen</a></li>
                                    <li class="nav-item"><a routerLink="/jaloezieen-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Jaloezieen</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a routerLink="/karpetten-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Karpetten</a></li>
<!--                            <li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Team</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/apply-now" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Apply Now</a></li>-->
<!--                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Gordijnen <i class='bx bx-chevron-down'></i></a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li class="nav-item"><a routerLink="/projects" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projects</a></li>-->
<!--                                    <li class="nav-item"><a routerLink="/projects-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projects Details</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="nav-item"><a routerLink="/case-study" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Case Study</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">FAQ</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/testimonials" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Testimonials</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">404 Error</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/sign-in" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign In</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/sign-up" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign Up</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/terms-conditions" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Terms & Conditions</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Privacy Policy</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a></li>-->
                        </ul>
                    </li>
<!--                    <li class="nav-item"><a routerLink="/blog-1" class="nav-link dropdown-toggle">Inspiratie</a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li class="nav-item"><a routerLink="/blog-1" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projecten</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/blog-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Inspiratie foto's</a></li>-->
<!--                            <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item"><a routerLink="/tevreden-klanten" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tevreden klanten</a></li>
                    <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                </ul>
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Home</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Over ons <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a routerLink="/over-ons" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Over ons</a></li>
                            <li class="nav-item"><a routerLink="/laat-je-inspireren" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Laat je inspireren</a></li>
                            <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Veelgestelde vragen</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Producten <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Vloeren <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/pvc-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Pvc</a></li>
                                    <li class="nav-item"><a routerLink="/tapijt-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Tapijt</a></li>
                                    <li class="nav-item"><a routerLink="/laminaat-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Laminaat</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Trappen <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/pvc-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Pvc trap</a></li>
                                    <li class="nav-item"><a routerLink="/tapijt-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Tapijt trap</a></li>
                                    <li class="nav-item"><a routerLink="/vinyl-trap-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Vinyl trap</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a routerLink="/hout-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Hout</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link dropdown-toggle">Raamdecoratie <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/plooigordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Plooigordijn</a></li>
                                    <li class="nav-item"><a routerLink="/wavegordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Wavegordijn</a></li>
                                    <li class="nav-item"><a routerLink="/vouwgordijn-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Vouwgordijnen</a></li>
                                    <li class="nav-item"><a routerLink="/jaloezieen-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Jaloëzien</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a routerLink="/karpetten-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Karpetten</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a routerLink="/tevreden-klanten" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Tevreden klanten</a></li>
                    <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">Contact</a></li>
                </ul>
                <div class="others-options d-flex align-items-center">
                    <div class="option-item">
                        <div class="menu-icon d-in-line">
                            <span class="burger-menu menu-icon-two"><i class='flaticon-menu'></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Sidebar Modal -->
<div class="sidebar-modal">
    <div class="sidebar-modal-inner">
        <div class="sidebar-header">
            <div class="sidebar-logo">
                <img src="assets/img/logo-mini.png" alt="Image">
            </div>
            <span class="close-btn sidebar-modal-close-btn"><i class="bx bx-x"></i></span>
        </div>

        <div class="sidebar-about">
            <div class="title">
                <p>Wij zijn gespecialiceerd in de kwaliteit van het leggen van de vloeren. Neem gerust contact met ons op
                of bezoek onze showroom</p>
            </div>
        </div>

        <div class="contact-us">
            <h2>Neem contact op</h2>

            <ul>
                <li>
                    <i class='bx bx-current-location'></i>
                    Adres: Stadshagenallee 13, 8043ZA, Zwolle
                </li>
                <li>
                    <i class='bx bx-mail-send'></i>
                    <a href="mailto:info@gebroederselken.nl">info@gebroederselken.nl</a>
                </li>
                <li>
                    <i class='bx bx-phone-call'></i>
                    <a href="tel:+31611858514"> 06 - 11858514</a>
                    <a href="tel:+31634705349"> 06 - 34705349</a>
                </li>
            </ul>
        </div>

        <div class="sidebar-instagram-feed">
            <h2>Instagram</h2>
            <ul>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/Cib6S_Es991/"><img src="assets/img/instagram/instagram1.jpg" alt="image"></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/CizYhDGsrk3/"><img src="assets/img/instagram/instagram2.jpg" alt="image"></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/CbryuLvsYr0/"><img src="assets/img/instagram/instagram3.jpg" alt="image"></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/CYjlSHuMCJT/"><img src="assets/img/instagram/instagram4.jpg" alt="image"></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/CVAJbpINBak/"><img src="assets/img/instagram/instagram5.jpg" alt="image"></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/p/Cib6S_Es991/"><img src="assets/img/instagram/instagram6.jpg" alt="image"></a>
                </li>
            </ul>
        </div>

        <div class="sidebar-follow-us">
            <h2>Volg ons</h2>

            <ul class="social-wrap">
                <li><a href="https://www.instagram.com/gebroeders.elken.stoffering/" target="_blank"><i class="bx bxl-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->
