<!-- Inner Banner -->
<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Tevreden klanten</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Tevreden klanten</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Area Two -->
<div class="blog-area-two pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/penthouse-amsterdam"><img src="assets/img/blog/amsterdam/penthouse-amsterdam.jpg" alt="penthouse amsterdam pvc" class="klanten-images"></a>
                            <div class="content">
                                <h3><a routerLink="/penthouse-amsterdam">Penthouse</a></h3>
                                <ul>
                                    <li><span>Amsterdam</span></li>
                                </ul>
                                <p>Dit penthouse in Amsterdam gelegd met visgraat pvc</p>
                                <a routerLink="/penthouse-amsterdam" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/advundum-details">
                                <img src="assets/img/blog/advundum/pvc-trouwzaal-vloer.jpg" alt="pvc hasselt" class="klanten-images"></a>
                            <div class="content">
                                <h3><a routerLink="/advundum-details">Grandcafé Advundum</a></h3>
                                <ul>
                                    <li><span>Hasselt</span></li>
                                </ul>
                                <p>Dit grandcafé voorzien van een trouwzaal vloer</p>
                                <a routerLink="/advundum-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/tagwest-details"><img src="assets/img/blog/tagwest/tagwest.png" alt="apparementen genemuiden pvc" class="klanten-images-genemuiden"></a>
                            <div class="content">
                                <h3><a routerLink="/tagwest-details">Appartementencomplex</a></h3>
                                <ul>
                                    <li><span>Genemuiden</span></li>
                                </ul>
                                <p>Dit trappenhuis gestoffeerd met tapijttegels</p>
                                <a routerLink="/tagwest-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/vrijstaande-woning-genemuiden-details">
                                <img src="assets/img/blog/genemuiden/pvc-rechte-plank.jpg" alt="pvc rechte plank genemuiden" class="klanten-images-genemuiden"></a>
                            <div class="content">
                                <h3><a routerLink="/vrijstaande-woning-genemuiden-details">Vrijstaande woning</a></h3>
                                <ul>
                                    <li><span>Genemuiden</span></li>
                                </ul>
                                <p>Woning voorzien van hout, pvc en tapijt</p>
                                <a routerLink="/vrijstaande-woning-genemuiden-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/hoekwoning-ijsselmuiden-details"><img src="assets/img/blog/ijsselmuiden/hoekwoning-ijsselmuiden.jpg" alt="pvc vloer in ijsselmuiden" class="klanten-images"></a>
                            <div class="content">
                                <h3><a routerLink="/hoekwoning-ijsselmuiden-details">Hoekwoning Ijsselmuiden</a></h3>
                                <ul>
                                    <li><span>Ijsselmuiden</span></li>
                                </ul>
                                <p>Hier hebben we het huis voorzien van een pvc visgraat en rechte plank.</p>
                                <a routerLink="/hoekwoning-ijsselmuiden-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/hoekwoning-hattem-details"><img src="assets/img/blog/hattem/pvc-hattem-1.jpg" alt="vrijstaande woning met pvc vloer" class="klanten-images"></a>
                            <div class="content">
                                <h3><a routerLink="/hoekwoning-hattem-details">Hoekwoning Hattem</a></h3>
                                <ul>
                                    <li><span>Hattem</span></li>
                                </ul>
                                <p>Hier hebben we een PVC vloer en een pvc trap gestoffeerd.</p>
                                <a routerLink="/hoekwoning-hattem-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <a routerLink="/hoekwoning-elspeet-details"><img src="assets/img/blog/elspeet/pvc-vloer-bies.jpeg" alt="hoekwoning elspeet" class="klanten-images"></a>
                            <div class="content">
                                <h3><a routerLink="/hoekwoning-elspeet-details">Hoekwoning Elspeet</a></h3>
                                <ul>
                                    <li><span>Elspeet</span></li>
                                </ul>
                                <p>Hier een pvc vloer met bies gestoffeerd</p>
                                <a routerLink="/hoekwoning-elspeet-details" class="blog-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/blog/sidebar/inspiratie-sidebar.jpg">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/blog/sidebar/inspiratie-sidebar2.jpg">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/blog/sidebar/inspiratie-sidebar3.jpg">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area Two End -->
