.klanten-images {
    max-height: 246px;
    min-height: 246px;
    object-fit: cover;
    object-position: center;
    min-width: 366px;
    max-width: 366px;
}

.klanten-images-genemuiden {
    max-height: 246px;
    object-fit: cover;
    object-position: bottom;
    min-width: 366px;
    max-width: 366px;
}


@media only screen and (max-width : 767px) {
    .klanten-images {
        max-height: 246px;
        object-fit: cover;
        object-position: center;
        min-width: 336px;
        max-width: 336px;
    }

    .klanten-images-genemuiden {
        max-height: 246px;
        object-fit: cover;
        object-position: bottom;
        min-width: 336px;
        max-width: 336px;
    }
}
