<!-- Start 404 Error -->
<div class="error-area">
    <div class="container">
        <div class="error-content">
            <img src="assets/img/404-error.jpg" alt="Image">
            <h3>Oeps! Pagina niet gevonden</h3>
            <p>De pagina die je zoekt is misschien verwijderd, de naam is veranderd of hij is tijdelijk niet beschikbaar.</p>
            <a routerLink="/" class="default-btn">Ga terug naar de homepagina</a>
        </div>
    </div>
</div>
<!-- 404 Error End -->
