$title-font: 'Playfair Display', serif;
$body-font: 'Poppins', sans-serif;
$main-color: #ae9b63;
$paragraph-color: #000;
$color-purple: #3c3c3c;
$color-white: #ffffff;

.inner-banner {
    position: relative;
    background-position: top;
    background-size: cover;
    background-color: transparent !important;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        opacity: 0.7;
    }
    .inner-title {
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 570px;
            height: 270px;
            top: 60px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $paragraph-color;
            opacity: 0.5;
            border-radius: 5px;
        }
        h3 {
            font-size: 35px;
            color: $color-white;
            font-weight: 500;
            font-family: $title-font;
            position: relative;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            li {
                font-size: 18px;
                color: $color-white;
                display: inline-block;
                i {
                    color: $color-white;
                    position: relative;
                    top: 3px;
                    margin: 0 3px;
                }
                a {
                    color: $color-white;
                    &:hover {
                        color: #da691f;
                    }
                }
            }
        }
    }
}

.pvc {
    display: flex;
    justify-content: center;
}
