<!-- Inner Banner -->
<div class="inner-banner inner-bg7">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Pvc vloer</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Pvc</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">
<!--            <div class="blog-article-img">-->
<!--                <img src="assets/img/project/pvc.jpg" alt="Images">-->
<!--            </div>-->

            <div class="project-status">
                <div class="row"></div>
            </div>

            <div class="project-content">
                <h2>Pvc</h2>
                <p>
                    PVC is dè vloerbekleding van het moment.
                    PVC staat voor polivinylchloride en is een kunststof vloer met een natuurlijke look.
                    PVC-vloeren zijn onderhoudsvriendelijk, zeer geschikt voor vloerverwarming,
                    vochtbestendig en door de beschermde toplaag ziet de vloer er nog jaren uit als nieuw.
                    PVC kun je op meerdere manieren leggen. Je kunt leggen in visgraad, rechte plank en Hongaarse punt.
                    Daarnaast zijn er ook mogelijkheden in tegel. Kortom, de keuze is reuze.
                    Vraag bij ons advies, zodat we kunnen kijken wat het meest geschikt is voor jouw ruimte. </p>
                <p></p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/pvc/pvc-detail.jpg" alt="pvc vloer zwolle">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/pvc/pvc-detail3.jpg" alt="pvc vloer stadshagen">
                        </div>

                        <div class="row pvc">
                            <div class="col-lg-8 col-md-6">
                                <img src="assets/img/project/pvc/pvc-detail4.jpg" alt="pvc vloeren genemuiden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een pvc vloer kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="leader-area">
    <div class="container">
        <div class="leader-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
