<!-- Inner Banner -->
<div class="inner-banner inner-bg18">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Invictus</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Laat je inspireren door het merk invictus</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Area Two -->
<div class="blog-area-two pt-100 pb-70">
    <div class="container">
        <h1 class="title-invictus"><a href="https://invictus.eu/nl" target="_blank" class="title-invictus-a">Bekijk hier de invictus website</a></h1>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/invictus/Divine Oak_Champagne_PQT_CLICK_Townhouse_Living Room_DETAIL.jpg" alt="vloeren en raamdecoratie stadshagen">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/invictus/Divine Oak_Cookie_PQT_CLICK_Townhouse_Living Room.jpg" alt="schoonloopmat zwolle">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/invictus/Divine Oak_MIX_PQT_CLICK_Champagne_Cookie.jpg" alt="laminaat stadshagen zwolle">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/invictus/Divine Oak_Naturel_Cookie_PQT_CLICK_Country_Living Room.jpg" alt="tapijt stadshagen en zwolle">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">

                    <div class="side-bar-widget">
                        <img src="assets/img/invictus/Divine Oak_Naturel_Cookie_Formation_Parquet_LR.jpg" alt="vloer stalen stadshagen en zwolle">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/invictus/Divine Oak_Pure_Formation_Parquet_LR.jpg" alt="pvc stalen zwolle">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/blog/sidebar/sidebar1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area Two End -->
