<!-- Project Area -->
<div class="project-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="project-title">
                    <div class="section-title">
                        <span>Onze diensten</span>
                        <h2>Bekijk hier de verschillende diensten waar we jou mee kunnen helpen</h2>
                    </div>
                </div>
            </div>

<!--            <div class="col-lg-6 col-md-12">-->
<!--                <div class="project-text">-->
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et amet bibendum ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae pellentesque.</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="tab project-tab">
            <ul class="tabs">
                <li><a href="#">Vloeren</a></li>
                <li><a href="#">Trappen</a></li>
                <li><a href="#">Raamdecoratie</a></li>
                <li><a href="#">Karpetten</a></li>
                <li><a href="#">Hout</a></li>
            </ul>

            <div class="tab_content current active pt-45">
                <div class="tabs_item current">
                    <div class="project-tab-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/pvc-details"><img src="assets/img/project/pvc.jpg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/pvc-details">Pvc</a></h3>
                                        <div class="content">
                                            <a routerLink="/pvc-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/tapijt-details"><img src="assets/img/project/tapijt.png" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/tapijt-details">Tapijt</a></h3>
                                        <div class="content">
                                            <a routerLink="/tapijt-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                <div class="project-card">
                                    <a routerLink="/laminaat-details"><img src="assets/img/project/laminaat.jpg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/laminaat-details">Laminaat</a></h3>
                                        <div class="content">
                                            <a routerLink="/laminaat-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="project-tab-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/pvc-trap-details"><img src="assets/img/project/pvctrap.jpeg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/pvc-trap-details">Pvc trap</a></h3>
                                        <div class="content">
                                            <a routerLink="/pvc-trap-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/tapijt-trap-details"><img src="assets/img/project/tapiijttrap.jpeg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/tapijt-trap-details">Tapijt trap</a></h3>
                                        <div class="content">
                                            <a routerLink="/tapijt-trap-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                <div class="project-card">
                                    <a routerLink="/vinyl-trap-details"><img src="assets/img/project/vinyltrap.jpeg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/vinyl-trap-details">Vinyl trap</a></h3>
                                        <div class="content">
                                            <a routerLink="/vinyl-trap-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="project-tab-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/plooigordijn-details"><img src="assets/img/project/gordijnen/plooigordijn.jpg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/plooigordijn-details">Gordijnen</a></h3>
                                        <div class="content">
<!--                                            <p>Wil jij dat je gordijnen een echte eyecatcher vormen? Kom dan eens langs.</p>-->
                                            <a routerLink="/plooigordijn-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                <div class="project-card">
                                    <a routerLink="/vouwgordijn-details"><img src="assets/img/project/gordijnen/vouwgordijn.jpg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/vouwgordijn-details">Vouwgordijnen</a></h3>
                                        <div class="content">
<!--                                            <p>Met een vouwgordijn uit onze collectie, heb je niets anders meer nodig in jouw stijlvolle interieur.</p>-->
                                            <a routerLink="/vouwgordijn-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="projects-details.html"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                <div class="project-card">
                                    <a routerLink="/jaloezieen-details"><img src="assets/img/project/jaloezieen.png" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/jaloezieen-details">Jaloezieen</a></h3>
                                        <div class="content">
                                            <a routerLink="/jaloezieen-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="projects-details.html"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="project-tab-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/karpetten-details"><img src="assets/img/project/karpetten.png" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/karpetten-details">Karpetten</a></h3>
                                        <div class="content">
                                            <a routerLink="/karpetten-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-lg-4 col-md-6">-->
<!--                                <div class="project-card">-->
<!--                                    <a routerLink="/projects-details"><img src="assets/img/project/project-img1.jpg" alt="Images"></a>-->
<!--                                    <div class="project-content">-->
<!--                                        <h3><a routerLink="/projects-details">Zijde</a></h3>-->
<!--                                        <div class="content">-->
<!--                                            <p>Sed vel risus a sem cursus fermentum. Aliquam a fermentum velit. Sed varius nisl libero, at tempor lectus mollis.</p>-->
<!--                                            <a routerLink="/projects-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="project-card-bottom"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">-->
<!--                                <div class="project-card">-->
<!--                                    <a routerLink="/projects-details"><img src="assets/img/project/project-img3.jpg" alt="Images"></a>-->
<!--                                    <div class="project-content">-->
<!--                                        <h3><a routerLink="/projects-details">Hoogpolig</a></h3>-->
<!--                                        <div class="content">-->
<!--                                            <p>Sed vel risus a sem cursus fermentum. Aliquam a fermentum velit. Sed varius nisl libero, at tempor lectus mollis.</p>-->
<!--                                            <a routerLink="/projects-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>-->
<!--                                        </div>-->
<!--                                        <div class="project-card-bottom"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="project-tab-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/hout-details"><img src="assets/img/project/hout/rechte-plank.jpg" alt="rechte plank hout"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/hout-details">Rechte plank</a></h3>
                                        <div class="content">
                                            <a routerLink="/hout-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="project-card">
                                    <a routerLink="/hout-details"><img src="assets/img/project/project-img1.jpg" alt="Images"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/hout-details">Visgraat</a></h3>
                                        <div class="content">
                                            <a routerLink="/hout-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                                <div class="project-card">
                                    <a routerLink="/hout-details"><img src="assets/img/project/hout/hout-detail2.jpg" alt="hout hongaarse punt"></a>
                                    <div class="project-content">
                                        <h3><a routerLink="/hout-details">Hongaarse punt</a></h3>
                                        <div class="content">
                                            <a routerLink="/hout-details" class="project-more"><i class='flaticon-double-right-arrows-angles'></i></a>
                                        </div>
                                        <div class="project-card-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Area End -->
