.pvc {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

@media only screen and (max-width : 767px) {
    .wester-mobile {
        margin-top: 25px;
    }

    .pvc {
        display: none;
    }
}
