<!-- Inner Banner -->
<div class="inner-banner inner-bg15">
    <div class="container">
        <div class="inner-title text-center">
            <h3>De Wester</h3>
            <ul>
                <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Appartementen de Wester</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Details Area -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/tagwest/tagwest.png" alt="tagwest genemuiden">
                    </div>

                    <div class="blog-status">
                        <div class="row content">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li><span>Genemuiden</span></li>
                                    <li>November, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="article-content">
                        <h2>De Wester - Appartementencomplex in Genemuiden</h2>

                        <p>In dit appartenmentencomplex mochten wij het trappenhuis stofferen met tapijttegels 50x50
                            van het merk desso project tapijten.</p>

                        <p>Het ging hier om 5 trappenhuizen</p>

                        <blockquote class="blockquote">
                            <p>Wij hebben hier het merk desso tapijttegel gebruikt</p>
                        </blockquote>
                    </div>

                    <div class="another-content">
                        <div class="content-img">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/tagwest/tagewest-hal.jpg" alt="desso tapijttegels">
                                </div>

                                <div class="col-lg-6 col-md-6 wester-mobile">
                                    <img src="assets/img/blog/tagwest/tagwest-trap1.jpeg" alt="tapijttegels genemuiden">
                                </div>

                                <div class="row pvc">
                                    <div class="col-lg-8 col-md-6">
                                        <img src="assets/img/blog/tagwest/tagewest-trap2.jpg" alt="trappenhuis flat">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">
                    <div class="side-bar-widget">
                        <h3 class="title">Weetjes</h3>

                        <ul class="side-bar-widget-tag">
                            <li><a>Tapijtegel</a></li>
                            <li><a>200 m2</a></li>
                            <li><a>Desso</a></li>
                            <li><a>Appartementencomplex</a></li>
                        </ul>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
