<!-- Inner Banner -->
<div class="inner-banner inner-bg16">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Hasselt</h3>
            <ul>
                <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Grandcafé Advundum Hasselt</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Details Area -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/advundum/advundum-trouwzaal.jpg" alt="trouwzaal vloer" class="woning-genemuiden">
                    </div>

                    <div class="blog-status">
                        <div class="row content">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li><span>Hasselt</span></li>
                                    <li>Februari, 2023</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="article-content">
                        <h2>Dit grandcafé voorzien van pvc tegels met in de midden een pvc plank</h2>

                        <p>Deze trouwzaal moest een strakke look krijgen, dit hebben wij gecreeërd door in de midden een dansvloer te maken van rechte plank en hier omheen pvc tegels</p>

                        <blockquote class="blockquote">
                            <p>Het midden gedeelte hebben wij gelegd met een bies afwerking</p>
                        </blockquote>
                    </div>

                    <div class="another-content">
                        <div class="content-img">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/advundum/pvc-trouwzaal-vloer.jpg" alt="tapijttegels">
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/genemuiden/pvc-rechte-plank.jpg" class="img-middel" alt="tapijttegels genemuiden">
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/genemuiden/hout-woonkamer.jpeg" alt="trappenhuis flat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">
                    <div class="side-bar-widget">
                        <h3 class="title">Weetjes</h3>

                        <ul class="side-bar-widget-tag">
                            <li><a>Tapijtegel</a></li>
                            <li><a>Pvc rechte plank</a></li>
                            <li><a>Bies</a></li>
                            <li><a>600 m2</a></li>
                            <li><a>Desso</a></li>
                            <li><a>Trouwzaal</a></li>
                        </ul>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
