.pvc {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.woning-genemuiden{
    width: 500px;
}

.row {
    flex-wrap: nowrap;
}

@media only screen and (max-width : 767px) {
    .row {
        flex-wrap: wrap;
    }

    .img-middel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
