<!-- Inner Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Hoekwoning Elspeet</h3>
            <ul>
                <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Hoekwoning in Elspeet</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Details Area -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/elspeet/pvc-vloer-woonkamer.jpeg" alt="pvc visgraat in elspeet" class="hoekwoning-elspeet">
                    </div>

                    <div class="blog-status">
                        <div class="row content">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li><span>Elspeet</span></li>
                                    <li>November, 2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="article-content">
                        <h2>Hoekwoning in Elspeet voorzien van een gelasta oak visgraat met band/bies.</h2>

                        <p>Ze zijn er erg blij met het eind resultaat.</p>
                    </div>

                    <div class="another-content">
                        <div class="content-img">
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <img src="assets/img/blog/elspeet/pvc-vloer-met-schoonloopmat.jpeg" alt="visgraat gelasta oak pvc" class="woning-elspeet-img">
                                </div>
                                <div class="col-6 col-md-6">
                                    <img src="assets/img/blog/elspeet/visgraat-bies.jpeg" alt="visgraat bies" class="woning-elspeet-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">
                    <div class="side-bar-widget">
                        <h3 class="title">Weetjes</h3>

                        <ul class="side-bar-widget-tag">
                            <li><a>PVC</a></li>
                            <li><a>100 m2</a></li>
                            <li><a>Visgraat</a></li>
                            <li><a>Oak</a></li>
                            <li><a>Bies</a></li>
                            <li><a>Gelasta</a></li>
                        </ul>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
