<!-- Inner Banner -->
<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Over ons</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Over ons</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- About Area -->
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img about-img-before">
                    <img src="assets/img/about/history.png" alt="history stoffering genemuiden">

                    <div class="about-img-small">
                        <img src="assets/img/about/gebroederselkenzwartwit.jpg" class="gebroederselken" alt="Images">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span>Over ons</span>
                    <h2>Specialist in vloeren</h2>
                    <h3>History </h3>
                    <p>
                        Genemuiden, dat is waar het allemaal begon. Hoe kan het ook anders als tapijtstad van Nederland.
                        Geboren en getogen in Genemuiden en de handelsdrift met de paplepel ingegoten.
                        Afstammelingen van een handelsfamilie met een opa die vroeger al de tapijtfabrieken afstruinde
                        om het verderop in het land weg te zetten op markten.
                        Jarenlang zijn de Gebroeders op zaterdagen tijdens hun tienerjaren meegeweest,
                        dit heeft ze doen besluiten om samen dezelfde richting in te gaan.
                        Weliswaar op een andere wijze dan voorgaande generaties maar wel met dezelfde geliefde producten.
                    </p>
                    <p>
                        Mans is door zijn jarenlange ervaring als stoffeerder zeer allround in zowel woning- als
                        projectstoffering en wordt aangevuld door zijn broer Wim,
                        die zich logistiek en in de verkoop heeft ontwikkeld.
                        Een mooie combinatie van kennis op meerdere fronten en passie voor het vak,
                        waarbij klanttevredenheid voorop staat.
                    </p>

                    <div class="about-btn">
                        <a routerLink="/contact" class="get-btn">Neem contact op</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->

<!-- Choose Area -->
<div class="choose-area-two choose-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="choose-content choose-content-title">
                    <div class="section-title">
                        <h2>Vakmanschap, kwaliteit en service</h2>
                        <p>
                            Wij hechten erg grote waarde aan goeie kwaliteit, dit staat dan ook op nummer 1 bij ons.
                            Ook zorgen wij dat we alle tijd voor je vrij maken zodat we goeie service verlenen.
                        </p>
                        <a routerLink="/contact" class="book-btn">Neem contact op</a>
                    </div>

                    <div class="row border-top">
                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>Flexibel</h3>
                                    <p>Wij denken graag met je mee</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>Kwaliteit</h3>
                                    <p>Kwaliteit staat voorop</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>Ervaren team</h3>
                                    <p>We weten waar we het over hebben.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>Tevreden klanten</h3>
                                    <p>Goeie reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="choose-img-2">
                    <img src="assets/img/home/deurmat.png" alt="droogloopmat of schoonloopmat stadshagen zwolle">

                    <div class="choose-dots">
                        <img src="assets/img/home/choose-dots.png" alt="schoonloopmat genemuiden">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Area End -->
