<!-- Inner Banner -->
<div class="inner-banner inner-bg11">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Plooigordijn</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Plooigordijn</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">

            <div class="project-status">
                <div class="row">
                </div>
            </div>

            <div class="project-content">
                <h2>Plooigordijnen</h2>
                <p>
                    Gordijnen kunnen op verschillende manieren worden geplooid.
                    De plooi bepaalt, behalve de lichtdoorlatendheid ook hoe een gordijn valt.
                    Bij vitrage- en inbetween-stoffen geldt dat, naarmate er meer stof in een gordijn wordt verwerkt,
                    het gordijn minder licht en zicht doorlaat.
                </p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/plooigordijn-detail1.jpg" alt="Images">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/plooigordijn-detail2.jpg" alt="Images">
                        </div>
                    </div>
                </div>
                <p>Onze verschillende soorten plooien:</p>
                <ul>
                    <li>Gordijn met enkele plooi</li>
                    <li>Gordijn met dubbele plooi</li>
                    <li>Gordijn met tri plooi</li>
                    <li>Gordijn met bokaal plooi</li>
                    <li>Gordijn met vlinder plooi</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een plooigordijn kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="plooigordijn-details-area">
    <div class="container">
        <div class="plooigordijn-details-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
