<!-- Inner Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Hoekwoning Ijsselmuiden</h3>
            <ul>
                <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Hoekwoning in Ijsselmuiden</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Details Area -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/ijsselmuiden/hoekwoning-ijsselmuiden.jpg" alt="pvc visgraat in ijsselmuiden" class="hoekwoning-ijsselmuiden">
                    </div>

                    <div class="blog-status">
                        <div class="row content">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li><span>Ijsselmuiden</span></li>
                                    <li>Juni, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="article-content">
                        <h2>Hoekwoning in Ijsselmuiden voorzien van een ambiant pvc vloer.</h2>

                        <p>Deze vloer heeft een toplaag van 2.5 mm,
                            en door de matte look die de plank heeft is het niet van echt te onderscheiden</p>

                        <blockquote class="blockquote">
                            <p>Wij hebben hier het merk ambiant gebruikt met een visgraat en rechte plank</p>
                        </blockquote>
                    </div>

                    <div class="another-content">
                        <div class="content-img">
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <img src="assets/img/blog/ijsselmuiden/rechte-plank.jpg" alt="rechte plank pvc matte look" class="woning-ijsselmuiden-img">
                                </div>
                                <div class="col-6 col-md-6">
                                    <img src="assets/img/blog/ijsselmuiden/pvc-ijsselmuiden-tafel.jpeg" alt="visgraat plank pvc matte look" class="woning-ijsselmuiden-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">
                    <div class="side-bar-widget">
                        <h3 class="title">Weetjes</h3>

                        <ul class="side-bar-widget-tag">
                            <li><a>PVC</a></li>
                            <li><a>70 m2</a></li>
                            <li><a>Visgraat</a></li>
                            <li><a>Rechte plank</a></li>
                            <li><a>Egaline</a></li>
                            <li><a>Ambiant</a></li>
                        </ul>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
