<!-- Inner Banner -->
<div class="inner-banner inner-bg19">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Penthouse Amsterdam</h3>
            <ul>
                <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Penthouse Amsterdam</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Details Area -->
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-article">
                    <div class="blog-article-img">
                        <img src="assets/img/blog/amsterdam/header-amsterdam-pvc.jpg" alt="penthouse amsterdam">
                    </div>

                    <div class="blog-status">
                        <div class="row content">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li><span>Amsterdam</span></li>
                                    <li>Januari, 2022</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="article-content">
                        <h2>Penthouse in Amsterdam</h2>

                        <p>In dit penthouse mochten wij deze mooie pvc visgraat vloer leggen.
                            Deze vloer brengt warmte en sfeer in de woning. Het resultaat mag er wezen</p>

                        <p>Ook hebben wij de trap en de slaapkamers voorzien van tapijt</p>

                        <p>Ook geintreseerd in zo'n mooie pvc vloer? Kom langs en zoek je vloer bij ons uit in de showroom</p>

                        <blockquote class="blockquote">
                            <p>Wij hebben hier het merk ambiant gewerkt</p>
                        </blockquote>
                    </div>

                    <div class="another-content">
                        <div class="content-img">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/amsterdam/amsterdam-pvc-detail1.jpg" alt="pvc vloer amsterdam">
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <img src="assets/img/blog/amsterdam/amsterdam-pvc-visgraat.jpg" class="img-middel" alt="amsterdam pvc visgraat">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <img src="assets/img/blog/amsterdam/amsterdam-keuken.jpg" class="img-bottom" alt="visgraat pvc amsterdam">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">
                    <div class="side-bar-widget">
                        <h3 class="title">Weetjes</h3>

                        <ul class="side-bar-widget-tag">
                            <li><a>Pvc</a></li>
                            <li><a>Tapijt</a></li>
                            <li><a>Trap</a></li>
                            <li><a>140 m2</a></li>
                            <li><a>Ambiant</a></li>
                            <li><a>Penthouse</a></li>
                        </ul>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Onze interieur producten</h3>

                        <div class="widget-popular-post">
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg1" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Hoogpolig karpet</a></h4>
                                    <p>220x140</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg2" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Decoratie</a></h4>
                                    <p>Vazen, kunstbloemen, kussens</p>
                                </div>
                            </article>
                            <article class="item">
                                <a class="thumb"><span class="full-image cover bg3" role="img"></span></a>
                                <div class="info">
                                    <h4 class="title-text"><a>Schoonloop matten</a> </h4>
                                    <p>Diverse kleuren en polen</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
