<!-- Inner Banner -->
<div class="inner-banner inner-bg6">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Hout</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Houten vloer</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">
            <div class="project-status">
                <div class="row">
                </div>
            </div>

            <div class="project-content">
                <h2>Houten vloer</h2>
                <p>
                    Bij een houten vloer kies je voor karakter en nostalgie in jou huis.
                    Iedere vloer en plank heeft zijn eigen persoonlijkheid en door de jaren heen zal de vloer alleen
                    maar meer gaan leven.<br>
                    Wat dit maakt tot een karakteristiek en charmant product.
                    Een belangrijk gegeven bij hout is dat het altijd zal reageren op temperatuurverschillen.
                    Bij een hoge luchtvochtigheid zal de vloer uit gaan zetten en bij lage luchtvochtigheid
                    juist gaan krimpen. Deze werking hoort bij het product.
                    Door onze kennis en ervaring weten wij met deze werking om te gaan en zorgen wij voor een
                    prachtig eindresultaat die hier tegen bestand is.
                </p>
                <p>
                    Er zijn vele mogelijkheden bij het kiezen van een houten vloer.
                    Er zijn mogelijkheden in rechte plank,
                    visgraat en Hongaarse punt en daarnaast zijn er tal van materiaal en kleur-keuzes.
                    Een traject die we graag samen met jou doorlopen en je adviseren waar nodig.
                </p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/hout/rechte-plank.jpg" alt="hout rechte plank">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/hout/hout-detail2.jpg" alt="hout hongaarse punt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een houten vloer kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="leader-area">
    <div class="container">
        <div class="leader-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
