<!-- Inner Banner -->
<div class="inner-banner inner-bg8">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Tapijt trap</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Tapijt trap</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">
            <!--            <div class="blog-article-img">-->
            <!--                <img src="assets/img/project/project-details1.jpg" alt="Images">-->
            <!--            </div>-->

            <div class="project-status">
                <div class="row"></div>
            </div>

            <div class="project-content">
                <h2>Tapijt trap</h2>
                <p>
                    Tapijt geeft je interieur een gevoel van luxe en warmte.
                    Het werkt geluiddempend en creëert een fijne stroeve ondergrond.
                    Tapijt is verkrijgbaar in allerlei kleuren en texturen.
                    Met ons passende advies zorgen we ervoor dat je interieur de juiste allure krijgt.
                </p>
                <p>
                    Daarnaast is tapijt ook een zeer goede keuze voor het bekleden van jouw trap.
                    Door de stroeve ondergrond geeft het namelijk de grip die je nodig bent en
                    geeft het ook nog een goede geluiddemping.
                </p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/tapijt/tapiijttrap.jpg" alt="tapijt trap zwolle">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een tapijt trap kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="leader-area">
    <div class="container">
        <div class="leader-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
