<!-- Inner Banner -->
<div class="inner-banner inner-bg11">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Vouwgordijn</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Vouwgordijn</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">

            <div class="project-status">
                <div class="row">
                </div>
            </div>

            <div class="project-content">
                <h2>Vouwgordijnen</h2>
                <p>
                    De meeste gordijnstoffen die we hebben zijn geschikt voor vouwgordijnen.
                    Vouwgordijnen kun je in verschillende modellen krijgen.
                    Voor elk interieur hebben we een passend vouwgordijn.
                    Behalve de keuze van de gordijn stof,
                    is ook het model van het vouwgordijn bepalend voor de uitstraling.
                    Wil je graag een vouwgordijn op je slaapkamer?
                    Dan is het een goed idee om je vouwgordijn te laten voeren.
                </p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/vouwgordijn.jpg" alt="Images">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/vouwgordijn-detail.jpg" alt="Images">
                        </div>
                    </div>
                </div>
                <p>De vouwgordijn kan je in verschillende modellen verkrijgen:</p>
                <ul>
                    <li>Vouwgordijn, bloezend, gevoerd</li>
                    <li>Vouwgordijn met bies</li>
                    <li>Vouwgordijn tunnel ingestikt naar voren</li>
                    <li>Vouwgordijn tunnel ingestikt naar achter</li>
                    <li>Vouwgordijn tunnel ingestikt uit voering</li>
                    <li>Vouwgordijn top down/bottom up</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een vouwgordijn kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="plooigordijn-details-area">
    <div class="container">
        <div class="plooigordijn-details-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
