<!-- Banner Area -->
<div class="banner-area-three banner-bg">
    <div class="container">
        <div class="banner-content banner-content-three">
            <h1>Gebroeders Elken Stoffering</h1>
            <div class="banner-btn">
                <a routerLink="/contact" class="contact-btn">Neem contact op</a>
                <a routerLink="/pvc-details" class="get-btn">Bekijk producten</a>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->


<!-- Choose Area -->
<div class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="section-title">
                    <span>Waarom voor ons kiezen</span>
                    <h2>Vertrouwd stoffeerdersbedrijf om jou de juiste richtlijn te geven</h2>
                </div>

                <div class="tab choose-tab">
                    <div class="tab_content current active pt-45">
                        <div class="tabs_item current">
                            <div class="choose-item">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12">
                                        <div class="choose-item-content">
                                            <p>
                                                Mans is door zijn jarenlange ervaring als stoffeerder zeer allround in
                                                zowel woning- als projectstoffering en wordt aangevuld door zijn broer Wim,
                                                die zich logistiek en in de verkoop heeft ontwikkeld.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="choose-img">
                    <img src="assets/img/home/pand.jpg" alt="gebroeders elken zwolle">
                    <div class="images">
                        <img src="assets/img/home/gebroederselkenzwartwit.jpg" class="gebroederselken" alt="pand stadshagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Wil je meer weten?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Aanbieding gebr elken -->
<div class="choose-area-two choose-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="choose-content choose-content-title">
                    <div class="section-title">
                        <h2>Actie!</h2>
                        <p>
                            Wij hebben een mooie aanbieding op pvc vloeren.
                        </p>
                        <a routerLink="/contact" class="book-btn">Neem contact op</a>
                    </div>

                    <div class="row border-top">
                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>€49,- per m2</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-content-list">
                                <div class="content">
                                    <h3>Incl egaliseren en leggen</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="choose-img-2">
                    <img src="assets/img/home/aanbieding-pvc.jpeg" alt="aanbieding van pvc vloeren">

                    <div class="choose-dots">
                        <img src="assets/img/home/choose-dots.png" alt="schoonloopmat genemuiden">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Aanbieding gebr elken end -->

<!-- Client Area -->
<div class="client-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="client-title">
                    <div class="section-title">
                        <span>Klanten Reviews</span>
                        <h2>Lees wat onze klanten van ons vinden</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="client-text">
<!--                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et amet bibendum ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae pellentesque.</p>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="client-item">
                    <div class="client-img">
                        <img src="assets/img/client/kamp.jpeg" alt="Images">
                    </div>

                    <div class="content">
                        <h3>Familie van der Kamp</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                        <p>
                            Vloer gelegd door Gebroeders Elken.
                            We zijn erg blij met het eindresultaat en alles verliep soepel tijdens het leggen van de vloer.
                            Goede service & ze zijn snel maar precies.
                        </p>
                        <i class="flaticon-quote quote"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="client-item">
                    <div class="client-img">
                        <img src="assets/img/client/beens.jpeg" alt="Images">
                    </div>

                    <div class="content">
                        <h3>Familie Beens</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                        <p>
                            Het eindresultaat is super mooi geworden! De jongens zijn harde werkers en leuk in de omgang.
                            Echt vakwerk.
                        </p>
                        <i class="flaticon-quote quote"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="client-item">
                    <div class="client-img">
                        <img src="assets/img/client/dummer.jpeg" alt="Images">
                    </div>

                    <div class="content">
                        <h3>Janita Dummer</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                        <p>
                            Graag wil ik laten weten dat wij de vloer ontzettend mooi vinden.
                            Wat een vakmensen, het is top. Na al het gedoe met de bouw is dit zo fijn.
                            Nogmaals dank, we vinden het prachtig!
                        </p>
                        <i class="flaticon-quote quote"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->

<!-- Contact Area -->
<div class="contact-area pb-100">
    <div class="container">
        <div class="contact-area-bg">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="contact-form">
                        <div class="section-title text-center">
                            <h2>Neem contact op</h2>
                        </div>

                        <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required placeholder="Naam" formControlName="firstName">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Achternaam" formControlName="lastName">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" required placeholder="Email" formControlName="email">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Telefoonnummer" formControlName="phoneNumber">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" formControlName="question" id="message" cols="30" rows="8" required placeholder="Je bericht"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 text-center">
                                    <button type="submit" class="default-btn">Verzenden</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->
