<!-- Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo-mini.png" alt="Images"></a>
                    </div>
                    <p>Ook kan je bij ons in de avonduren terecht voor afspraken</p>
                    <ul class="social-link">
<!--                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>-->
<!--                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>-->
                        <li><a href="https://www.instagram.com/gebroeders.elken.stoffering/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
<!--                        <li><a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>-->
<!--                        <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>-->
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Links</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/over-ons">Over ons</a></li>
                        <li><a routerLink="/pvc-details">Vloeren</a></li>
                        <li><a routerLink="/laat-je-inspireren">Ons pand</a></li>
                        <li><a routerLink="/tevreden-klanten">Tevreden klanten</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Openingstijden</h3>

                    <ul class="footer-list-two">
                        <li>
                            <i class='bx bx-time'></i>
                            <div class="footer-list-two-openinstijden"><tr>Ma:</tr><td>Op afspraak</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Di:</tr><td>10.00 - 15.00</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Wo:</tr><td>10.00 - 15.00</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Do:</tr><td>10.00 - 15.00</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Vr:</tr><td>10.00 - 15.00</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Za:</tr><td>Op afspraak</td></div>
                            <div class="footer-list-two-openinstijden"><tr>Zo:</tr><td>Gesloten</td></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-2">
                    <h3>Contact</h3>
                    <ul class="footer-list-two">
                        <li>
                            <i class='bx bx-location-plus'></i>
                            Stadshagenallee 13, 8043ZA, Zwolle
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+31611858514">06 11858514</a>
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+31634705349">06 34705349</a>
                        </li>
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <a href="mailto:info@gebroederselken.nl">info@gebroederselken.nl</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copy-Right Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>Copyright © Gebr Elken | Ontwikkeling door Joanne Brouwer</p>
        </div>
    </div>
</div>
<!-- Copy-Right Area End -->
