<!-- Inner Banner -->
<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Gebroeders Elken in Stadshagen</h3>
            <ul>
                <li><a routerLink="/over-ons">Over ons</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Laat je inspireren</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Blog Area Two -->
<div class="blog-area-two pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/about/pand-voorkant.jpg" alt="vloeren en raamdecoratie stadshagen">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/about/schoonloopmat.jpg" alt="schoonloopmat zwolle">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/about/pand-pvc.jpg" alt="laminaat stadshagen zwolle">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-card">
                            <img src="assets/img/about/pand-tapijt.jpg" alt="tapijt stadshagen en zwolle">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar-wrap">

                    <div class="side-bar-widget">
                        <img src="assets/img/about/pand1.jpg" alt="vloer stalen stadshagen en zwolle">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/about/pand-stalen.jpg" alt="pvc stalen zwolle">
                    </div>

                    <div class="side-bar-widget">
                        <img src="assets/img/blog/sidebar/sidebar1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area Two End -->
