<!-- Inner Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Karpetten</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Karpetten</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">

            <div class="project-status">
                <div class="row">
                </div>
            </div>

            <div class="project-content">
                <h2>Karpetten</h2>
                <p>We hebben ook karpetten. Hoogpolig, laagpolig. Verschillende vormen</p>
                <p></p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/karpetten/karpet-detail1.jpg" alt="karpet laagpolig rond stadshagen">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/karpetten/karpet-detail2.jpg" alt="ronde karpetten">
                        </div>
                    </div>
                    <div class="row karpet">
                        <div class="col-lg-8 col-md-6">
                            <img src="assets/img/project/karpetten/karpet-detail3.jpg" alt="karpet">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een karpet vloer kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="leader-area">
    <div class="container">
        <div class="leader-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
