<!-- Inner Banner -->
<div class="inner-banner inner-bg13">
    <div class="container">
        <div class="inner-title text-center">
            <h3>FAQ</h3>
            <ul>
                <li><a routerLink="/over-ons">Over ons</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Veelgestelde vragen</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Faq Area -->
<div class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
<!--            <span>FAQ</span>-->
            <h2>Veelgestelde vragen</h2>
        </div>

        <div class="row align-items-center pt-45">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Binnen hoeveel weken kunnen jullie een vloer komen leggen?</a>
                            <div class="accordion-content show">
                                <p>Binnen 4-8 weken kunnen we bij jou een vloer komen leggen. Altijd afhankelijk van je wens en in overleg is er veel mogelijk.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Wat is de beste vloer bij vloerverwarming?</a>
                            <div class="accordion-content">
                                <p>PVC is de beste warmtegeleider en daarom het meest geschikt. Echter zijn andere materialen ook van dusdanige kwaliteit dat deze tegenwoordig ook zeer geschikt zijn. Denk aan tapijt, laminaat en hout.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Moet er altijd geëgaliseerd worden?</a>
                            <div class="accordion-content">
                                <p>Nee, er hoeft niet altijd geëgaliseerd te worden. Alleen bij gebruik van PVC moet er altijd geëgaliseerd worden. </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion">
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Kan ik ook naast de openingstijden bij jullie terecht? </a>
                            <div class="accordion-content">
                                <p>Je kunt contact met ons opnemen om een afspraak te plannen op een gewenst tijdstip.</p>
                            </div>
                        </li>

                        <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Is PVC duurder dan laminaat?</a>
                            <div class="accordion-content show">
                                <p>Ja, pvc is duurder.</p>
                            </div>
                        </li>

<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Leggen jullie ook een ondervloer bij tapijt?</a>-->
<!--                            <div class="accordion-content">-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Hoelang duurt het plaatsen van een nieuwe vloer?</a>-->
<!--                            <div class="accordion-content">-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="accordion-item">-->
<!--                            <a class="accordion-title" href="javascript:void(0)"><i class='bx bx-chevron-down'></i> Wat zijn de voorrijkosten?</a>-->
<!--                            <div class="accordion-content">-->
<!--                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                            </div>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Faq Area End -->

<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Wil je meer weten?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
