<!-- Inner Banner -->
<div class="inner-banner inner-bg11">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Wavegordijn</h3>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><i class='bx bxs-chevron-right'></i></li>
                <li>Wavegordijn</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Banner End -->

<!-- Project Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="project-article">

            <div class="project-status">
                <div class="row">
                </div>
            </div>

            <div class="project-content">
                <h2>Wavegordijnen</h2>
                <p>
                    Wil je een golvend gordijn? Dan is het Vadain Easy Wave Systeem zeer geschikt.
                    Door een moderne manier van confectioneren ontstaat een volmaakte golfbeweging.
                    De diepte van de golf kun je zelf bepalen.
                    Met ringen bereik je een zelfde soort effect,
                    maar zeker bij hoge ramen zijn de gordijnen vaak lastig te sluiten.
                    Het Vadain Easy Wave Systeem is hierbij de perfecte oplossing!
                </p>
            </div>

            <div class="project-another-content">
                <div class="content-img">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/wavegordijn-detail.jpg" alt="Images">
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <img src="assets/img/project/gordijnen/wavegordijn-detail2.jpg" alt="Images">
                        </div>
                    </div>
                </div>
                <p>De wavegordijn kan je in verschillende afmetingen verkrijgen:</p>
                <ul>
                    <li>4 inch</li>
                    <li>6 inch</li>
                </ul>
                <p>Ook heb je de keuze om je gordijn te laten voeren. Hierdoor kan er geen lichtval doorheen komen</p>
            </div>

        </div>
    </div>
</div>
<!-- Project Details Area End -->

<!-- Solutions Area -->
<div class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="solutions-content">
                    <div class="section-title">
                        <span>Kom in contact</span>
                        <h2>Benieuwd wat jou een wavegordijn kost?</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="solutions-btn">
                    <a routerLink="/contact" class="default-btn">Neem hier contact met ons op</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Solutions Area End -->

<!-- Project Area -->
<app-diensten></app-diensten>
<!-- Project Area End -->

<!-- Leader Area -->
<div class="plooigordijn-details-area">
    <div class="container">
        <div class="plooigordijn-details-content">
            <div class="section-title text-center">
                <h2>Gebroeders Elken Stoffering</h2>
                <p>Wij staan voor kwaliteit, goede communicatie en een mooi eindresultaat opleveren.</p>
            </div>
        </div>
    </div>
</div>
<!-- Leader Area End -->
